<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pair Game</title>
</head>
<body>
  <div id="wrapper">
    <header>
      <h1>Pair Game</h1>
      <button class="btn" data-play-button>PLAY</button>
    </header>

    <main>
      <section id="container" data-container></section>
      <div class="ending hidden visuallyHidden" data-ending>
        <div class="overlay"></div>
        <div class="ballons"></div>
        <div class="modal">
          <h1>Congratulations</h1>
          <button class="btn" data-play-again-button>Play Again</button>
        </div>
      </div>
    </main>

    <footer>
      <div>Made by <a href="https://github.com/SinaBYR" target="_blank">Sina Beyraghdar</a></div>
      <a href="https://github.com/SinaBYR/typescript-pair-game" target="_blank">Source Code <img src="../assets/img/github-icon.svg" alt="github-logo"></a>
    </footer>
  </div>
</body>
</html>