<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pair Game</title>
</head>
<body>
  <div id="wrapper">
    <header>
      <h1 class="heading">Pair Game</h1>
      <button data-play-button class="btn">PLAY</button>
    </header>

    <main></main>

    <footer>
      <div>Made with love by <a href="https://github.com/SinaBYR" target="_blank">Sina Beyraghdar</a></div>
      <a href="https://github.com/SinaBYR/typescript-pair-game" target="_blank">Source Code <img data-github-logo src="../assets/github-icon.svg" alt="github-logo"></a>
    </footer>
  </div>
</body>
</html>