<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pair Game</title>
</head>
<body>
  <main>
    <header>
      <h1 class="heading">Pair Game</h1>
      <button data-play-button class="btn">PLAY</button>
    </header>
  </main>
</body>
</html>