*,*::before,*::after{margin:0;padding:0;box-sizing:border-box;}

@font-face {
  font-family: HoneyBear;
  src: url('./assets/font/HoneyBear.ttf');
}

/* CLASSES */

.btn {
  display: inline-block;
  color: #FAF4B7;
  background-color: #FF8C8C;
  min-width: 200px;
  font-family: HoneyBear;
  font-size: 1.3rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 5px;
  box-shadow: 6px 6px #bb8888;
  cursor: pointer;
  transition: opacity 500ms ease;
}

.btn:active {
  box-shadow: 2px 2px #bb8888;
  transform: translate(5px, 5px);
}

.hidden {
  display: none;
}

.visuallyHidden {
  opacity: 0;
}

/* CLASSES */

body {
  color: #FF8C8C;
  background-color: #FAF4B7;
  font-family: HoneyBear;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-top: 250px;
  transition: all 500ms ease;
}

header h1 {
  font-size: 7rem;
  margin-bottom: 2rem;
  text-shadow: 8px 8px #bb8888;
  transition: all 500ms ease;
}

header.playing {
  margin-top: 0;
}

header.playing h1 {
  font-size: 4rem;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 1200px;
  margin: 0 auto;
  transition: all 500ms ease;
}

.ending {
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  z-index: 1;
  transition: opacity 1000ms ease 500ms;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FAF4B7;
  opacity: 0.9;
  filter: blur(4px);
  z-index: 2;
}

.ballons {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: url('./assets/img/ballons.png') top no-repeat;
  z-index: 3;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  text-shadow: 8px 8px #bb8888;
  z-index: 3;
}

main > * {
  margin-bottom: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.4;
  margin-top: auto;
  margin-bottom: 1rem;
}

footer a {
  color: #bb8888;
}

footer a:hover {
  color: #7e5959;
}

footer img {
  height: 15px;
}